body {
    background-color: #F9F9F9;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    color: #BEAEE2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #BEAEE2;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #BEAEE2;
}

p {
    line-height: 2;
    font-size: 20px;
}

hr {
    border: dotted #EAF6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #F7DBF0;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6
}

.bibi-img {
    width: 200px;
}

.pc-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.cherry-img {
    width: 20%;
    float: right;
    margin-left: 30px;
    
}


.pc-skill-description {
    clear: right;
}

.cherry-skill-description {
    clear: left;
}
.top-container {
    background-color: #F7DBF0;
    position: relative;
    padding-top: 100px;

}

.middle-container {
    margin: 100px 0;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.bottom-container {
    background-color: #BEAEE2;
    padding: 50px 0 20px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.top-cloud { 
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.btn {
    background: #F7DBF0;
    background-image: -webkit-linear-gradient(top, #F7DBF0, #BEAEE2);
    background-image: -moz-linear-gradient(top, #F7DBF0, #BEAEE2);
    background-image: -ms-linear-gradient(top, #F7DBF0, #BEAEE2);
    background-image: -o-linear-gradient(top, #F7DBF0, #BEAEE2);
    background-image: linear-gradient(to bottom, #F7DBF0, #BEAEE2);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 30px;
    padding: 4px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FFDDEE;
    background-image: -webkit-linear-gradient(top, #FFDDEE, #CDF0EA);
    background-image: -moz-linear-gradient(top, #FFDDEE, #CDF0EA);
    background-image: -ms-linear-gradient(top, #FFDDEE, #CDF0EA);
    background-image: -o-linear-gradient(top, #FFDDEE, #CDF0EA);
    background-image: linear-gradient(to bottom, #FFDDEE, #CDF0EA);
    text-decoration: none;
  }

  @media screen and (max-width:720px) and (min-width:0px) {
    body {margin: 0px;}
    form {
      width: 5vh;
      margin-left: 0;
      padding: 0;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 25px;
    }
    .montain {
      width: 100%;
    }
   .intro {
       width: 80%;
   }
   .skill-row {
       width: 80%;
   }
   .contact-message {
       width: 80%;
   }
   .bottom-cloud {
       margin-bottom: 35%;
       padding-bottom: 10%;
   }
  }